@font-face {
    font-family: 'Young Serif';
    src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../assets/fonts/outfit/static/Outfit-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../assets/fonts/outfit/static/Outfit-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../assets/fonts/outfit/static/Outfit-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

h1, h2, h3, h4, p {
    margin: 0;
  }

.text-preset-1 {
    font-family: 'Young Serif', serif;
    font-weight: 400; /* Regular */
    font-size: 2.5rem; /* 40px */
    line-height: 1.0;
    letter-spacing: 0;
}

.text-preset-2 {
    font-family: 'Young Serif', serif;
    font-weight: 400; /* Regular */
    font-size: 1.75rem; /* 28px */
    line-height: 1.0;
    letter-spacing: 0;
}

.text-preset-3 {
    font-family: 'Outfit', sans-serif;
    font-weight: 600; /* SemiBold */
    font-size: 1.25rem; /* 20px */
    line-height: 1.0;
    letter-spacing: 0;
}

.text-preset-4 {
    font-family: 'Outfit', sans-serif;
    font-weight: 400; /* Regular */
    font-size: 1rem; /* 16px */
    line-height: 1.5;
    letter-spacing: 0;
}

.text-preset-4-bold {
    font-family: 'Outfit', sans-serif;
    font-weight: 700; /* Bold */
    font-size: 1rem; /* 16px */
    line-height: 1.5;
    letter-spacing: 0;
}
